/* @media print {
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid rgb(203, 213, 225); 
  padding: 4px; 
}

tfoot td {
  border-bottom: 1px solid rgb(203, 213, 225 ); 
  border-top: none; 
  border-left: none; 
  border-right: none; 
}


thead {
  display: table-header-group; 
}

@page {
  margin: 0mm; 
}
}




 */
